<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Libray</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4"><%= heading %></span>
          </a>
    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/addNotes" class="nav-link">New Note</a></li>
            <li class="nav-item"><a href="#" class="nav-link" onclick="showDropdown()">Sort List</a></li>
            <li class="nav-item"><a href="#" class="nav-link">TBC</a></li>
            
          </ul>
        </header>
      </div>
        
      <div style="display: none;" id="dropdown">
        <div id="myDropdown" class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
            <ul class="dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 shadow w-220px" data-bs-theme="light">
                <li><a class="dropdown-item rounded-2 active" href="/">Most Recent First</a></li>
                <li><a class="dropdown-item rounded-2" href="/?sort=desc">Oldest First</a></li>
                <li><a class="dropdown-item rounded-2" href="#">Highest Rated</a></li>
                <li><hr class="dropdown-divider"></li>
            </ul>
        </div>

      </div>
     

      <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
        <div class="list-group">

         
                <% for (const item of items) { %>
                              
        



          <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <img src="<%= 'data:image/jpeg;base64,' + item.thumb %>" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
              <div>
                <h6 class="mb-0"><%= item.title %></h6>
                <p class="mb-0 opacity-75"><%= item.sum %></p>
              </div>
              <small class="opacity-50 text-nowrap"><%= item.timestamp %></small>
            </div>
          </a>
          <% } %>
          
        </div>
      </div>

   
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <script>
        function showDropdown() {
            const dropdown = document.getElementById('dropdown');
            dropdown.style.display = (dropdown.style.display === 'none') ? 'flex' : 'none';
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>




